@font-face {
    font-family: 'Montauk';
    src: url(../assets/Montauk-Bold.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Montauk';
    src: url(../assets/Montauk-Italic.otf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family:'Montauk' ;
    src:url(../assets/Montauk-Light.otf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family:'Montauk';
    src: url(../assets/Montauk-Regular.otf);
    font-style: normal;
    font-weight: 400;
}



/* Base */
body {
  font-family: 'Poppins', sans-serif;
  color: #3b2c2c;
  margin: 0;
  padding: 0;
}

body {
    background-image: url('/assets/bgtexture.jpg') ;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
  }

/* Navbar */
.custom-nav {
  background: url('/assets/bgtexture.jpg') center/cover no-repeat;
  padding: 1rem 0;
}

.logo {
  height: 50px;
}

.nav-link {
  color: #5e0b29 !important;
  font-weight: 600;
  font-style: italic;
  margin-left: 1rem;
}

.nav-link:hover {
  color: #a01840 !important;
}

/* Hero */
.hero {
  background: url('assets/images/restaurant.jpg') center/cover no-repeat;
  height: 60vh;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

/* About Section */
.about {
  background: #f9f2ec url('assets/images/wood-bg.jpg') repeat;
  background-blend-mode: lighten;
}

.section-title {
  font-family: 'Righteous', cursive;
  color: #5e0b29;
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}


.menu-grid{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr, 1fr,1fr,1fr;
}

.menu-sandwich{
    grid-column: 2/3;
    background-color: white;
}

.menu-seafood{
    grid-column: 3/4;
    background-color: white;
}

.menu-grill{
    grid-column: 2/3;
    grid-row: 2;
    background-color: white;
}

.menu-dessert{
    grid-column: 3/4;
    grid-row: 2;
    background-color: white;
}

.menu-bg-white{
    background-color: white;
}

.menu-bold{
    font-family: 'Montauk',sans-serif;
    font-weight: bold;
}

.menu-ital{
    font-family: 'Montauk',sans-serif;
    font-style: italic;
}

.menu-light{
    font-family: 'Montauk',sans-serif;
    font-weight: lighter;
}

.menu-reg{
    font-family: 'Montauk',sans-serif;
}

.menu-fugaz {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5F002B;
}

.menu-color{
    color: #5F002B !important; 
}

.menu-row{
    flex-direction: row !important;

}

.cate-center{
    justify-items: center;
}

.cate-cover{
    object-fit: cover;
    max-width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    height: 40vh;
  }

  .section-title {
    text-align: center;
  }

  .nav-link {
    margin-left: 0;
    text-align: center;
  }
}
